body {
  font-family:
    -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", Cantarell, Ubuntu, roboto, noto, helvetica, arial,
    sans-serif;
}

code,
kbd,
pre,
samp {
  font-family:
    Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}
