*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", Cantarell, Ubuntu, roboto, noto, helvetica, arial,
    sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "helvetica neue", Cantarell, Ubuntu, roboto, noto, helvetica, arial,
    sans-serif;
}

code,
kbd,
pre,
samp {
  font-family:
    Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

#root,
#__next {
  isolation: isolate;
}
